body {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: satoshi;
  src: url(fonts/Satoshi-Black.otf);
}

@font-face {
  font-family: satoshi-light;
  src: url(fonts/Satoshi-Light.otf);
}

@font-face {
  font-family: airstrike;
  src: url(fonts/airstrike.ttf);
}

@font-face {
  font-family: coffee-extra;
  src: url(fonts/Coffee\ Extra.otf);
}

.players {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 400px) 1fr;
  margin-bottom: 45px;
  align-self: center;
  width: 100vw;
}

.player1form,
.player2form {
  display: grid;
  grid-template-rows: 75px 75px;
  justify-content: center;
  font-size: 40px;
  font-family: satoshi;
  background-color: rgba(238, 238, 238, 1);
  border: none;
  outline: none;
  width: 300px;
}

.player1,
.player2 {
  display: grid;
  grid-template-rows: 75px 75px;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  font-size: 40px;
  font-family: satoshi;
  border: 3.5px solid grey;
  background-color: rgba(238, 238, 238, 1);
}

.tictactoe {
  display: grid;
  grid-template-rows: repeat(1fr 3);
  justify-content: center;
  z-index: -1;
}

.tic,
.tac,
.toe {
  font-size: 50px;
  font-family: coffee-extra;
  letter-spacing: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.tic {
  background-color: rgb(109, 131, 255);
}
.tac {
  background-color: rgb(206, 255, 203);
}
.toe {
  background-color: rgb(255, 139, 139);
}

.leftside {
  margin-left: 25px;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.icon1,
.icon2 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 70px;
}

.icons {
  transition: 0.5s;
}

.icons:hover {
  cursor: pointer;
  transition: 0.5s;
}

.circle:active,
.cross:active {
  transition: 0.1s;
  transform: scale(1) rotate(180deg);
}

.bruh {
  background-color: hotpink;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.gameboard-container {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 75px;
  width: 400px;
  height: 400px;
  justify-items: center;
  align-items: center;
}

.spot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.rightside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  margin-right: 25px;
  gap: 10px;
  margin-top: 10px;
}

.points {
  color: grey;
}
.player1score,
.player2score {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-family: satoshi-light;
}

.disabled {
  cursor: not-allowed;
}

.spot:not(.disabled):hover {
  background-color: #eee;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flags {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  max-width: 180px;
  max-height: 100px;
}

.x {
  background-image: url(img/trump1.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.o {
  background-image: url(img/putin1.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.spot:nth-child(2),
.spot:nth-child(8) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.spot:nth-child(4),
.spot:nth-child(6) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.spot:nth-child(5n) {
  border: 1px solid black;
}

.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.modal {
  position: absolute;
  font-family: monospace;
  background-color: white;
  width: 475px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 10px;
  transform: scale(0.1);
  transition: 0.5s;
}

.modal-active {
  transform: scale(1);
}

.modalCall {
  margin-bottom: 25px;
}

.playAgain {
  cursor: pointer;
  border: 10px solid black;
  background-color: black;
  border-radius: 10px;
  color: white;
  transition: 0.1s;
}

.playAgain:hover {
  transform: scale(0.95);
}

.modalCall,
.playAgain {
  font-size: 25px;
  transition: 0.1s;
}

.restart {
  font-family: satoshi-light;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(128, 128, 128, 0.3);
  border: 3px solid rgba(11, 11, 11, 0.3);
  height: 50px;
  width: 25vw;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.restartContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.restart:hover {
  background-color: rgba(255, 148, 148, 0.5);
  font-size: 31px;
}

.restart:active {
  transform: scale(0.98);
}
